# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.dotnet_vjezba.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\marin.zelenika\Desktop\dotnet1\dotnet_vjezba\.idea\.idea.dotnet_vjezba\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
